header {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 1rem 0;
	z-index: 1000;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
}

header>ul {
	display: flex;
	color: #fff;
	justify-content: space-around;
	 font-family: sans-serif;
}
#head.active{
	display: none;
}
@media screen and (max-width: 1000px){
	#head ul li a{
		font-size: 200%;
	}
	#head{
		padding: 2rem;
	}
}
@keyframes fade-in1 {
  0% {opacity: 0}
  100% {opacity: 1}
}
