@media screen and (max-width: 1000px) { 
 
 .modal-content{
  zoom:200%;
  width: 90%;
 }
 .modal-content h1{
  font-size: 100%;
  letter-spacing: 0;
 }
 .modal-content h2{
  font-size: 2.5rem;
  font-weight: 500;
 }
 .modal-content h3{
  line-height: 200%;
 }
 .menus {
    font-size: 2rem;
    padding-top:4rem; 
    line-height: 200%;
    font-weight: 600;
}

.map{
  height:25rem;
  margin:3rem 0 3rem 0;
}
.modal-content>.pro{
  font-size: 200%;
}
#contact-inner ul li {
    text-align: center;
    line-height: 170%;
    color: #000;
    font-weight: bold;
    font-weight: 500;
}
}

/*nomal*/
.modal-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: ;
  z-index: 30;
  display: none;
  padding: 3rem 0;
 
 
}

.modal-panel.active {
  display: block;
  background-color:rgba(0, 0, 0, 0.5);
  animation:fade-in 0.2s ease; 
}

.modal-content>span {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  z-index: 100;
  margin: 1rem;
}

.modal-content {
  position: relative;
  color: #000;
  background-color: #fff;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top:4rem;
  overflow: scroll;  
  border-radius: 1%;
}
.modal-content h2{
  font-size: 3rem; 
  font-family: 'Bad Script', cursive;
}
.black{
  color: #000;
}

#profile .face {
  position: relative;
  width: calc(100% + 2rem);
  margin: -1rem 0 0 -1rem;
}

.modal-content h1 {
  padding: 1rem;
  font-size: 2.7rem;
  font-weight: 600;

}

.modal-content>.pro {
  position: relative;
  font-size: 150%;
}

.modal-content>.pro>li {
  line-height: 1.5;
  padding: 0.5em 0;
  font-family: "Noto Sans JP";
  list-style-type: none !important;
  letter-spacing: 2px;
  font-size: 130%;
}

.modal-content>.pro>li:before {
  position: absolute;
  left: 1rem;
  /*左端からのleftアイコンまで*/
  color: #000;
  /*アイコン色*/
}

#menu-inner {
  background-size: cover;
  color: #000;
}

.menus {
  font-size: 1.7rem;
  width: 70%;
  font-weight: 600;
  margin: 0 auto;
  color: #000;
  padding-top: 3rem;
  font-family: 'Bad Script', cursive;
}

.menu-left {
  display: flex;
  justify-content: left;

}

.menu-right {
  text-align: right;
}

#contact-inner {
  background-size: cover;
}

#contact-inner ul {
  width: 100%;
}

#contact-inner ul li {
  font-size: 200%;
  text-align: center;
  line-height: 170%;
  color: #000;
  font-family: "Noto Sans JP";
}

.sns {
  padding-top: 1.6rem;
}

.sns .sns-icon {
  letter-spacing: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.sns-icon a{
  color: #000;
}

.logo {
  font-size: 5rem;
}

#back {
  width: 10%;
}

.fab {
  width: 10rem;
}

#access {
  line-height: 300%;
  font-size: 150%;
}

#access img{
  width: 80%;
}
#access h2{
  padding-bottom:2rem; 
}
#access h3{
  font-family: "Noto Sans JP";
}
@keyframes fade-in{
   0% {
        opacity:  0.3;                /* 透明度指定 */
        top: 50px;                  /* 位置指定 */
    }
    100% {
        opacity:  1;                /* 透明度指定 */
        top: 0;                     /* 位置指定 */
    }
}