
/*nomal*/
.modal-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: ;
  z-index: 30;
  display: none;
  padding: 3rem 0 0 0;
}

.modal-panel.active {
  display: block;
  background-color:rgba(0, 0, 0, 0.5);
  animation:fade-in 0.2s ease; 
}

.modal-content>span {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  z-index: 100;
  margin: 1rem;
}

.modal-content {
  position: relative;
  color: #000;
  background-color: #fff;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top:4rem;
  overflow: scroll;  
  z-index: 101;
}

.modal-content h2{
 font-size: 2.3rem; 
 font-weight: 100;
}
.modal-content h1 {
  font-size: 2.7rem;
  font-weight: 200;
  padding-bottom:3rem; 
}
.modal-content>.pro>li {
  line-height: .5;
  padding-top: 1rem;
  list-style-type: none !important;
  letter-spacing: 2px;
  font-size: 130%;
}
.modal-content>.pro>li:nth-child(odd) {
  font-size: 140%;
  padding-top: 2.3rem;
  font-weight: 600;
}
.vertical{
  position: relative;
  display: block;
  padding: 2rem 0 0 4rem;
  width: 50%;
}
.modal-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #efecea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  display: none;
  z-index: 102;
  
}
.footer-inner{
  display: flex;
  width:90%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;

}
.footer-inner p{
 background-color:hsla(349, 2%, 4%, 0.41);
 font-size: 3rem;
 color: #fff;
 border-radius: 2px;
 margin: 1rem;
}

.black{
  color: #000;
}

#profile img{
  width: 50%;
  padding-left: 2rem;
  padding-top:2rem;
}
.inner{
  display: flex;
  padding:2remf 4rem 4rem 4rem;
}


.pro{
  text-align: left;
  font-size: 120%;
  white-space: nowrap;
}
.pro li:nth-child(odd){
  padding-bottom: 1rem;
  white-space: nowrap;
}
.pro li:nth-child(even){
  padding-bottom: 2rem;
}


.innner a{
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

#menu-inner {
  background-size: cover;
  color: #000;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menus {
  margin: 0 auto;
  color: #000;
}
.menus li{
  text-align: left;
}
.menu-flex{
  display: flex;
  font-size: 120%;
  width: 100%;
  padding-left: 4rem;
}

.menu-flex li{
  padding-bottom: 1rem;
  padding-right: 10rem;
}
.right li:nth-child(1){
  color: #fff;
}
.right li:nth-child(5){
  color: #fff;
  padding-bottom: 2rem;
}

.right li:nth-child(8){
  color: #fff;
  padding-top: 1rem;
}
.right li
.menu-left {
  display: flex;
  justify-content: left;
}
.menus li:nth-child(4){
  padding-bottom: 2rem;
}
.menus li:nth-child(7){
 padding-bottom: 2rem;
}


.menu-right {
  text-align: right;
}
#menu img{
  width: 125%;
}

#contact-inner {
  background-size: cover;
  padding-top: 18rem;

}

#contact-inner ul {
  width: 100%;
}

#contact-inner ul li {
  font-size: 200%;
  text-align: center;
  line-height: 170%;
  color: #000;

}

.sns {
  padding-top: 1.6rem;
}

.sns .sns-icon {
  letter-spacing: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.sns-icon a{
  color: #000;
}

.logo {
  font-size: 2rem;
  padding-top:0.75rem;
}

#back {
  width: 10%;
}

.fab {
  width: 10rem;
}

#access img{
  width: 50%;
  padding-left: 4rem;
}
#access h2{
  padding-bottom:2rem; 
}
.block{
  position: relative;
  display: block;
  padding:0 4rem 4rem 4rem;
  text-align: left;
}
.block a{
  bottom: 0;
  cursor: pointer;
}
.access-table{
  text-align: center;
  border:solid 1px #000;
  border-collapse: collapse;
  width: 50%;
}
.menu-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #e2e2e2;
  margin:0 auto;

}
.menu-table th{
  padding: calc(15px - .415em) 0;
  border-bottom: 1px solid #e2e2e2;
  font-weight: normal;
  padding-right:12rem; 
}
.menu-table td{
  padding: calc(15px - .415em) 0;
  border-bottom: 1px solid #e2e2e2;
  font-weight: normal;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-table th:nth-child(1){
}



@keyframes fade-in{
 0% {
  opacity:  0.3;                /* 透明度指定 */
  top: 50px;                  /* 位置指定 */
}
100% {
  opacity:  1;                /* 透明度指定 */
  top: 0;                     /* 位置指定 */
}
}
@media screen and (max-width: 1000px) { 

 .modal-content{
  zoom:200%;
  width: 100%!important;
}
.modal-panel{
  padding: 0!important;
}

.modal-content h1{
  font-size: 100%;
  letter-spacing: 0;
}

.modal-content h2{
  font-size: 2.5rem;
  font-weight: 500;
}

.modal-content h3{
  line-height: 200%;
  font-weight: 600;
}
.modal-content>.pro{
  font-size: 200%; 
}
.menus {
  font-size: 2rem;
  padding-top:4rem; 
  line-height: 200%;
}

.map{
  height:25rem;
  margin:1.5rem 0 6rem 0;
  font-weight: 500;
}



#contact-inner ul li {
  text-align: center;
  line-height: 170%;
  color: #000;
  font-weight: bold;
}
.inner{
  display:block;
  padding: 0;
}
.inner h1{
  font-size: 2rem;
  white-space: nowrap;
  text-align: center;
}

.flex{
  display: block!important;
}
.block{
  white-space: nowrap;
  padding: 0 !important;
}
.pro {
  text-align: left;
  font-size: 120%;
  white-space: nowrap;
  padding: 0;
  position: absolute;
  left: 0;
  padding-left: 8rem;
padding-bottom: 4rem;
}
.vertical{
  margin: 0 auto;
  padding: 0!important;
  width: 100%!important;
}
.vertical a{
  position: absolute;
  bottom: 0;
}
.inner{
  display: block!important;
  width: 100%!important;
}
#profile img{
  width: 100%!important;
  padding-top: 2rem;
  width: 80%!important
}
#profile h1{
  padding: 3rem;
}
#menu-inner a{
  position: absolute;
  bottom: 2rem;
  right: 2rem!important;
}
.menu-flex{
  display: block!important;
}
.map{
  width: 100%!important;
}
.block{
  padding: 0 4rem 0 4rem!important;
}
.block p{
  line-height: initial!important;
  text-align: left;
}
.block a{
  bottom: initial!important;
  font-size: initial;
}
.flex{
  padding-bottom: 10rem;
}
.modal-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#efecea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  display: block!important;
  
}
.footer-inner{
  display: flex;
  width:90%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  margin: 0 auto;

}
.footer-inner p{
 background-color:hsl(349, 92%, 48%);
 font-size: 1.8rem;
}
.block p{
  line-height: 1px;
}

#access img{
  width: 50%;
  padding-left: 0!important;
}
}
