@media screen and (max-width: 1000px) { 

 .modal-content{
  zoom:200%;
  width: 90%;
}

.modal-content h1{
  font-size: 100%;
  letter-spacing: 0;
}

.modal-content h2{
  font-size: 2.5rem;
  font-weight: 500;
}

.modal-content h3{
  line-height: 200%;
  font-weight: 600;
}

.menus {
  font-size: 2rem;
  padding-top:4rem; 
  line-height: 200%;
}

.map{
  height:25rem;
  margin:3rem 0 3rem 0;
  font-weight: 500;
}

.modal-content>.pro{
  font-size: 200%;
}

#contact-inner ul li {
  text-align: center;
  line-height: 170%;
  color: #000;
  font-weight: bold;
}
.innner{
  display:block;
}
}

/*nomal*/
.modal-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: ;
  z-index: 30;
  display: none;
  padding: 3rem 0 0 0;
}

.modal-panel.active {
  display: block;
  background-color:rgba(0, 0, 0, 0.5);
  animation:fade-in 0.2s ease; 
}

.modal-content>span {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  z-index: 100;
  margin: 1rem;
}

.modal-content {
  position: relative;
  color: #000;
  background-color: #fff;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top:4rem;
  overflow: scroll;  
}

.modal-content h2{
 font-size: 2.3rem; 
 font-weight: 100;
}
.vertical{
  position: relative;
  display: block;
  padding: 0 0 0 4rem;
  width: 50%;
}

.black{
  color: #000;
}
#profile img{
  width: 50%;
}
.innner{
  display: flex;
  padding: 4rem;
}

.modal-content h1 {
  font-size: 2.7rem;
  font-weight: 200;
  padding-bottom:3rem; 
}
.pro{
  text-align: left;
  font-size: 120%;
}
.pro li:nth-child(odd){
  padding-bottom: 1rem;
}
.pro li:nth-child(even){
  padding-left: 10%; 
  padding-bottom: 2rem;
}

.modal-content>.pro>li {
  line-height: .5;
  padding-top: 1rem;
  list-style-type: none !important;
  letter-spacing: 2px;
  font-size: 130%;
}
.modal-content>.pro>li:nth-child(odd) {
  font-size: 140%;
  padding-top: 2.3rem;
  font-weight: 600;
}
.innner a{
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

#menu-inner {
  background-size: cover;
  color: #000;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menus {
  margin: 0 auto;
  color: #000;
}
.menus li{
  text-align: left;
}
.menu-flex{
  display: flex;
  font-size: 120%;
  width: 100%;
}
.menu-flex li{
  padding-bottom: 1rem;
  padding-right: 10rem;
}
.right li:nth-child(1){
  color: #fff;
}
.right li:nth-child(5){
  color: #fff;
  padding-bottom: 2rem;
}

.right li:nth-child(8){
  color: #fff;
  padding-top: 1rem;
}
.right li
.menu-left {
  display: flex;
  justify-content: left;
}
.menus li:nth-child(4){
  padding-bottom: 2rem;
}
.menus li:nth-child(7){
 padding-bottom: 2rem;
}


.menu-right {
  text-align: right;
}
#menu img{
  width: 125%;
}

#contact-inner {
  background-size: cover;
padding-top: 18rem;

  }

#contact-inner ul {
  width: 100%;
}

#contact-inner ul li {
  font-size: 200%;
  text-align: center;
  line-height: 170%;
  color: #000;

}

.sns {
  padding-top: 1.6rem;
}

.sns .sns-icon {
  letter-spacing: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.sns-icon a{
  color: #000;
}

.logo {
  font-size: 2rem;
  padding-top:0.75rem;
}

#back {
  width: 10%;
}

.fab {
  width: 10rem;
}

#access {
  line-height: 300%;
}

#access img{
  width: 50%;
}

#access h2{
  padding-bottom:2rem; 
}
.block{
  position: relative;
  display: block;
  padding:0 4rem 4rem 4rem;
  text-align: left;
}
.block a{
      position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
table{
  text-align: center;
  border:solid 1px #000;
  border-collapse: collapse;
  width: 50%;
  padding-bottom: 4rem;

}


@keyframes fade-in{
 0% {
  opacity:  0.3;                /* 透明度指定 */
  top: 50px;                  /* 位置指定 */
}
100% {
  opacity:  1;                /* 透明度指定 */
  top: 0;                     /* 位置指定 */
}
}