#top {
	position: relative;
	background-image: url(../pic/image.jpg);
	background-size: cover; 
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#top h1{
	border-top: 1.8px solid #fff;
}
#top p{
	border-bottom: 1.8px solid #fff;
}
.content{
	position: relative;
	color: #fff;
	font-size: 3rem;
	width: 100%;
}
.icon {
	width: 100px;
	border-radius: 100%;
	border:2px solid #fff;
}
.sumafomenu{
	width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eeeeee;
	display: none;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000000;
}
li {
	text-align: center;
}
li:last-child {
	border-bottom: none;
}
li a.on{
	color: #ffffff;
	background-color: #da3c41;
}
li a:hover:not(.on) {
	color: #ffffff;
	background-color: #1b2538;
}
@media screen and (max-width: 1000px) { 
 .sumafomenu{
 	display: block;
 }
}