#top {
	position: relative;
	background-size: cover; 
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image:url(../pic/icon.jpg); 
	background-size:cover; 
}

#top h4{
	 font-weight: 300;
}
#top p{
	font-size: 2.3rem;
}
.title-border {
display: flex;
align-items: center;
margin: 0 8rem;
}
.title-border:before,
.title-border:after {
border-top: 1px solid;
content: "";
flex-grow: 1;
}
.title-border:before {
margin-right: 1rem;
}
.title-border:after {
margin-left: 1rem;
}

#top h1{
	position: relative; 
	top:0;
	left: 0;
	font-weight: 400;
	font-size:3rem;
}

.content{
	position: relative;
	color: #000;
	font-size: 3rem;
	width: 100%;
}

.icon {
	width: 200px;
	border-radius: 100%;
}
a:hover{
	color: #990000;
	border-bottom:#990000 solid;
}

@media screen and (max-width: 1000px){
	.icon{
		width: 300px;
		margin: 40px;
	}
}